* {
  padding: 0;
  list-style-type: none;
  font-family: "Source Sans 3", sans-serif;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container nav .location {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container nav .location .bolder-text {
  font-weight: 700;
  font-size: 18px;
}
.container nav .location ul {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.container nav .location ul .light-text {
  font-weight: 400;
}
.container nav .location ul .bolder-text {
  font-weight: 700;
}
.container nav .navbar-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}
.container nav .navbar-actions .user-control {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container nav .navbar-actions .user-control .food-search-text {
  font-weight: 700;
}
.container nav .navbar-actions button {
  width: 118px;
  height: 46px;
  border: none;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.2901960784);
  box-shadow: 0px 5px 10px 0px rgba(255, 174, 0, 0.2588235294);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container nav .navbar-actions button .login-text {
  font-size: 18px;
  font-weight: 700;
  color: #FFB800;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 620px;
  background: #FCCD22;
  padding-right: 50px;
  padding-left: 130px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.container header .header-content {
  line-height: 10px;
}
.container header .header-content .hero-title {
  font-weight: 700;
  font-size: 88px;
  color: white;
}
.container header .header-content .hero-subtitle {
  font-weight: 400;
  font-size: 22px;
  color: #504F4F;
  margin-bottom: 50px;
}
.container header .header-content .search-form {
  width: 856px;
  height: 195px;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container header .header-content .search-form .order-type {
  display: flex;
  padding-left: 25px;
}
.container header .header-content .search-form .order-type .order-option {
  width: 148px;
  height: 38px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.container header .header-content .search-form .order-type .delivery {
  color: #F17228;
  background: rgba(241, 114, 40, 0.1019607843);
}
.container header .header-content .search-form .order-type .pickup {
  color: #757575;
  background: white;
}
.container header .header-content .search-form .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container header .header-content .search-form .search-bar .address-input {
  width: 593px;
  height: 49px;
  border-radius: 8px;
  background: #F5F5F5;
  font-size: 18px;
  font-weight: 400;
  border: none;
  color: #9E9E9E;
  background-image: url("../img/red-map-maker.png");
  background-size: 20px 28px;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 10px 15px 10px 50px;
  box-sizing: border-box;
}
.container header .header-content .search-form .search-bar .find-food-btn {
  width: 199px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.container header .food-image-container img {
  margin-top: 105px;
  margin-left: -60px;
}
.container main {
  margin-bottom: 130px;
}
.container main .food-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 210px;
}
.container main .food-menu .food-item {
  width: 357px;
  height: 301px;
}
.container main .food-menu .food-item .food-menu-headline {
  font-size: 22px;
  font-weight: 700;
}
.container main .food-menu .food-item .food-time {
  width: 205px;
  height: 42px;
  border-radius: 8px;
  background: rgba(241, 114, 40, 0.2);
  text-align: center;
}
.container main .food-menu .food-item .food-time p {
  font-size: 22px;
  color: #F17228;
}
.container main .how-it-works {
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 120px;
}
.container main .how-it-works .how-it-works-headline {
  margin-bottom: 30px;
}
.container main .how-it-works .how-it-works-headline h2 {
  color: #F17228;
  font-size: 43px;
  font-weight: 700;
}
.container main .how-it-works .steps-guide {
  display: flex;
  gap: 50px;
}
.container main .how-it-works .steps-guide .item {
  text-align: center;
}
.container main .how-it-works .steps-guide .item img {
  margin-bottom: -50px;
}
.container main .how-it-works .steps-guide .item .item-headline {
  color: #434343;
  font-size: 22px;
  font-weight: 700;
}
.container main .how-it-works .steps-guide .item .item-info {
  color: #9E9E9E;
  font-size: 18px;
  width: 307px;
}
.container main .popular-items {
  margin-bottom: 80px;
}
.container main .popular-items .popular-items-headline {
  margin-bottom: 60px;
}
.container main .popular-items .popular-items-headline h2 {
  color: #212121;
  font-size: 43px;
  text-align: center;
}
.container main .popular-items .items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  line-height: 1px;
}
.container main .popular-items .items .item-headline {
  color: #424242;
  font-size: 22px;
  font-weight: 700;
}
.container main .popular-items .items .location {
  display: flex;
  align-items: center;
  gap: 7px;
}
.container main .popular-items .items .location .restaurant {
  color: #FFB30E;
}
.container main .popular-items .items .price {
  color: #212121;
  font-size: 22px;
  font-weight: 700;
}
.container main .popular-items .items button {
  background: #F17228;
  border-radius: 8px;
  border: none;
  width: 283px;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.2392156863);
  box-shadow: 0px 5px 10px 0px rgba(253, 114, 92, 0.2196078431);
}
.container main .popular-items .sss {
  background: #FFB20E;
  border-radius: 50%;
  width: 76px;
  height: 76px;
}
.container main .popular-items .sss .arrow {
  margin-left: 32px;
  margin-top: 23px;
}
.container main .popular-items .sss .arrow-left {
  margin-left: 25px;
}
.container main .featured-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.container main .featured-restaurants .featured-restaurants-headline h2 {
  color: #212121;
  font-size: 43px;
  text-align: center;
}
.container main .featured-restaurants .food-items {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  margin: 0 auto;
  width: 1862px;
  margin-bottom: 60px;
}
.container main .featured-restaurants .food-items .food-item {
  margin-bottom: 20px;
}
.container main .featured-restaurants .food-items .food-item .labels {
  display: flex;
  gap: 7px;
  position: relative;
  top: 70px;
  left: 25px;
  z-index: 1;
}
.container main .featured-restaurants .food-items .food-item .labels .label {
  background: #F17228;
  width: 120px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.container main .featured-restaurants .food-items .food-item .labels .label .label-txt {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
.container main .featured-restaurants .food-items .food-item .labels .time {
  background: #FFB30E;
  width: 101px;
}
.container main .featured-restaurants .food-items .food-item .logo-rating {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container main .featured-restaurants .food-items .food-item .logo-rating .rating-info .restaurant {
  color: #424242;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -25px;
}
.container main .featured-restaurants .food-items .food-item .logo-rating .rating-info .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFB30E;
  font-size: 22px;
}
.container main .featured-restaurants .food-items .food-item .label-btn {
  background: rgba(121, 185, 60, 0.2);
  color: #79B93C;
  font-size: 22px;
  font-weight: 700;
  width: 133px;
  height: 42px;
  border: none;
  border-radius: 16px;
}
.container main .featured-restaurants .food-items .food-item .closed {
  width: 197px;
  height: 42px;
  background: rgba(241, 114, 40, 0.2);
  color: #F17228;
}
.container main .featured-restaurants .view {
  background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
  width: 178px;
  height: 60px;
  border-radius: 14px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.2901960784);
  box-shadow: 0px 5px 10px 0px rgba(255, 174, 0, 0.2588235294);
}
.container main .featured-restaurants .view img {
  margin-top: -2px;
}
.container main .food-search {
  background: #FEFAF1;
  height: 555px;
}
.container main .food-search .food-search-headline {
  display: flex;
  gap: 950px;
  justify-content: center;
  margin-bottom: 90px;
}
.container main .food-search .food-search-headline .headline {
  color: #212121;
  font-size: 43px;
  font-weight: 700;
}
.container main .food-search .food-search-headline .view-all {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container main .food-search .food-search-headline .view-all .view-all-txt {
  color: #FFB30E;
  font-size: 18px;
  font-weight: 700;
}
.container main .food-search .food-search-headline .view-all .img-block {
  display: flex;
  gap: 10px;
}
.container main .food-search .food-search-headline .view-all .img-block .img-bg {
  background: #FFB20E;
  border-radius: 50%;
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main .food-search .food-menu {
  display: flex;
  gap: 35px;
}
.container main .food-search .food-menu .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container main .food-search .food-menu .item img {
  border-radius: 50%;
}
.container main .food-search .food-menu .item .food-name {
  color: #424242;
  font-size: 22px;
  font-weight: 700;
}
.container main .advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FEEFD0;
  padding-top: 120px;
  margin-bottom: 150px;
}
.container main .advertising .curved-edge {
  --c: 180px;
  height: 300px;
  width: 100%;
  position: relative;
  top: 924px;
  aspect-ratio: 3/2;
  -webkit-mask: radial-gradient(60% var(--c) at top, rgba(0, 0, 0, 0) calc(100% - 1px), #000);
          mask: radial-gradient(60% var(--c) at top, rgba(0, 0, 0, 0) calc(100% - 1px), #000);
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
}
.container main .advertising .service-benefits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF;
  border-radius: 46px;
  width: 1230px;
  height: 246px;
  box-shadow: 0px 27px 82px 0px rgba(255, 174, 0, 0.2784313725);
  box-shadow: 0px 14px 15px 0px rgba(255, 174, 0, 0.0117647059);
  margin-bottom: 100px;
}
.container main .advertising .service-benefits .feature {
  display: flex;
  align-items: center;
  gap: 30px;
}
.container main .advertising .service-benefits .feature .feature-txt {
  background: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: 700;
  width: 152px;
  line-height: 42px;
}
.container main .advertising .advertising-app {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.container main .advertising .advertising-app .phone-add {
  position: relative;
  left: -100px;
}
.container main .advertising .advertising-app .advertising-instalation {
  margin-top: -150px;
}
.container main .advertising .advertising-app .advertising-instalation .app-headline {
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 68px;
  font-weight: 700;
  margin-bottom: -17px;
}
.container main .advertising .advertising-app .advertising-instalation .app-info {
  color: #827E7E;
  font-size: 18px;
  width: 432px;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block {
  display: flex;
  gap: 10px;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block .download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 202px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: white;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block .download-btn .row {
  line-height: 1px;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block .download-btn .row .download {
  color: #616161;
  font-size: 15px;
  text-align: left;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block .download-btn .row .right {
  margin-right: -25px;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block .download-btn .row .app-txt {
  font-size: 24px;
  color: #212121;
}
.container main .advertising .advertising-app .advertising-instalation .btn-block .apple {
  width: 170px;
}
.container main .order-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-bottom: 150px;
}
.container main .order-cards .left-card {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container main .order-cards .card {
  display: flex;
  box-shadow: 0px 27px 82px 0px rgba(124, 124, 124, 0.2784313725);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container main .order-cards .card .card-info {
  width: 519px;
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container main .order-cards .card .card-info h2 {
  color: #353535;
  font-size: 48px;
  line-height: 48px;
  width: 407px;
  margin-bottom: 10px;
}
.container main .order-cards .card .card-info span {
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container main .order-cards .card .card-info p {
  color: rgba(97, 97, 97, 0.6901960784);
  font-size: 18px;
  font-weight: 600;
  width: 407px;
}
.container main .order-cards .card .card-info button {
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  width: 407px;
  height: 60px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.container main .order-proceed {
  background-image: url("../img/order-bg.png");
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: -130px;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container main .order-proceed h2 {
  font-size: 57px;
  font-weight: 900;
  color: white;
  width: 728px;
}
.container main .order-proceed button {
  background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
  width: 233px;
  height: 60px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.container footer {
  height: 936px;
  background: #212121;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 90px;
  box-sizing: border-box;
}
.container footer .footer-content .footer-top-cities-headline {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.container footer .footer-content .footer-top-cities-content {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.container footer .footer-content .footer-top-cities-content ul li {
  line-height: 35px;
}
.container footer .footer-content .footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.container footer .footer-content .footer-links .footer-columns {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.container footer .footer-content .footer-links .footer-columns ul li {
  line-height: 35px;
}
.container footer .footer-content .footer-links .footer-mail .footer-mail-headline {
  color: #F5F5F5;
  font-size: 14.5px;
  margin-bottom: 40px;
}
.container footer .footer-content .footer-links .footer-mail .icons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.container footer .footer-content .footer-links .footer-mail p {
  color: #BBBBBB;
  font-size: 18px;
  font-weight: 700;
}
.container footer .footer-content .footer-links .footer-mail .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container footer .footer-content .footer-links .footer-mail .search-bar .address-input {
  width: 300px;
  height: 60px;
  border-radius: 8px;
  background: #424242;
  font-size: 18px;
  font-weight: 400;
  border: none;
  color: #ADADAD;
  background-image: url("../img/mail-icon.png");
  cursor: pointer;
  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 10px 15px 10px 50px;
  box-sizing: border-box;
}
.container footer .footer-content .footer-links .footer-mail .search-bar .find-food-btn {
  width: 133px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.container footer .footer-content .rights p {
  font-size: 15px;
  font-weight: 400;
  color: #F5F5F5;
}
.container footer .footer-content .rights span {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */